@import "tailwindcss";

:root {
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
}
.navMenu {
  background-image: linear-gradient(to right, #02015c, #020137);
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.menuContainer {
  text-align: left;
  flex-direction: column;
  line-height: 3em;
  overflow-x: hidden;
}
.menuContainer li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #02015c;
}
.menuBtn {
  background-image: linear-gradient(to bottom, #ffffff, #b1b1b3);
}
.menuSpan {
  background-image: linear-gradient(to top, #ffffff, #b1b1b3);
}
.sideMenuBtn {
  width: auto;
}
.mainForm1 {
  background-color: rgb(242, 242, 242);
  padding-bottom: 5px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 
}
.mainForm {
  background-image: url("/bg2.jpg");
  padding-bottom: 10%;
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 
}
.mainFormInput { 
  border: none;
  outline: none;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  padding-left: 5px;
  padding-right: 5px;
  gap: 10px;
}
.sideBar {
  background-image: linear-gradient(to top, #020169, #020137);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#lga {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: black;
  font-size: 1rem;
  background-color: white;
}
.formLabel {
  color: brown;
}
#resDiv {
  text-align: center;
}

#loader1, #loader2, #loader3, #loader4, #loader5 {
  display: none;
}

.loader {
  width: 35px;
  height: 35px;
  border: 2px solid #030154;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #FF3D00;
  width: 3px;
  height: 12px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
#lgaAdmin, #genderAdmin {
  font-size: 14px;
  color: #030154;
}
.cardContainer {
  display: block;
}
.card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.dashImg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
#controlMsg, #searchMsg {
  display: none;
}
.pollCard:nth-child(even) {
  background-color: lightgray;
  border: none;
}
.pollDiv {
  /* cursor: pointer; */
}
.partyDiv {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(16, 1fr);
  gap: 10px;
}
.barDiv {
  height: 500px;
  position: relative;
  width: 40%;
}
.barVal {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.barMain {
  position: absolute;
  bottom: 0;
  height: 0%;
  border-radius: 5px;
  transition: 2s ease-in-out height;
}
.barAnimate {
  animation: grow 2s ease-in-out forwards;
  position: absolute;
  bottom: 0;
  height: 0%;
  border-radius: 5px;
}
.barMain:nth-child(odd) {
  background-image: linear-gradient(to bottom, #002403, #a07500, rgb(43, 4, 4));
}


@media only screen and (min-width: 800px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }
}